@import url("https://fontsapi.zeoseven.com/161/main/result.css");

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --container-pc: 1200px;

  --color-page-bg: oklch(0.2436 0.059 267.97);
  --color-header-bg: oklch(0.2284 0.018 255.71);
  --color-dark-bg: oklch(0.2746 0.0314 258.32);
  --color-dark-bg-2: oklch(0.349 0.0243 255.68);
  --color-menu-bg: oklch(0.385 0.0225 261.24);
  --color-menu-bg-hover: oklch(0.8993 0.0026 228.79);

  --color-border-1: oklch(0.4793 0.0265 248.38);

  --color-blue-1: oklch(0.6843 0.1754 247.62);
  --color-blue-2: oklch(0.7219 0.1534 246.6);
  --color-blue-3: oklch(0.8096 0.1072 226.42);

  --color-text-dark: oklch(0.7773 0.0036 67.77);

  --color-playing: oklch(0.8688 0.2321 130.35);
  --color-online: oklch(0.8096 0.1072 226.42);

  --color-green-1: oklch(0.5472 0.1345 126.65);
  --color-green-1-hover: color-mix(in oklab, var(--color-green-1), white 10%);

  --breakpoint-xs: 26rem;
  --breakpoint-pc: 100rem;
  --breakpoint-2xl: 120rem;
  --breakpoint-3xl: 160rem;
}

body {
  font-family: var(--font-inter), "Sarasa Gothic SC", "sans-serif";
}
